---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Blazingly-fast speeds",
    description:
      "Get an average of 130Mbps and up to 200Mbps depending on your location.",
    icon: "mdi:lightning-bolt",
  },
  {
    title: "Easy set up",
    description:
      "Your Starlink Kit arrives with everything you need to get online in minutes including your Starlink, WiFi router, cables and base.",
    icon: "mdi:check",
  },
  {
    title: "Works anywhere",
    description:
      "At home? Yes. In my van? Of course! In my boat?? Didn't we say anywhere?",
    icon: "mdi:wifi",
  },
  {
    title: "Zoom and gaming ready",
    description:
      "Starlink is great for video meetings and streaming movies. Even online gaming is possible with Starlink's low latency.",
    icon: "mdi:controller",
  },
  {
    title: "reliable",
    description:
      "Starlink's high-speed, low-latency service is made possible via the world's largest constellation of highly advanced satellites operating in a low orbit around the Earth.",
    icon: "mdi:satellite-variant",
  },
  {
    title: "Pay per day",
    description:
      "Rent Starlink for just one day or the whole month. No contracts. No commitments.",
    icon: "mdi:currency-eur",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    State of the art satellite internet. Rent it for just one day or the whole month. Don't settle for your cell phone's hotspot.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
