---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Just enjoy" id="intro">
  
  <Fragment slot="lead">
    Say goodbye to slow internet and hello to Starlink! 
    <span class="text-primary">Lightning-fast</span> speeds and <span class="text-primary">low lattency</span> anywhere.
    Rent your Starlink now!
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="/rent"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Get your Starlink</span>
    </a>
  </div>
</ContentSection>
