<!-- Atro and tailwind comonent to show 3 different prices -->
---
import ContentSection from "~/components/content-section.astro";
---
<ContentSection title="prices" id="prices">
<div class="flex flex-col md:flex-row justify-center items-center">
    <div class="flex flex-col justify-center items-center bg-white shadow-lg rounded-lg px-4 py-6 m-4">
        <h2 class="text-2xl font-bold text-gray-800">Per day</h2>
        <h3 class="text-gray-500 text-3xl font-bold">20 €<span class="text-gray-600 text-lg">/ day</span></h3>
       
        
    </div>
    <div class="flex flex-col justify-center items-center bg-white shadow-lg rounded-lg px-4 py-6 m-4">
        <h2 class="text-2xl font-bold text-gray-800">More than one week</h2>
        <h3 class="text-gray-500 text-3xl font-bold">17 €<span class="text-gray-600 text-lg">/ day</span></h3>
     
        
    </div>
    <div class="flex flex-col justify-center items-center bg-white shadow-lg rounded-lg px-4 py-6 m-4">
        <h2 class="text-2xl font-bold text-gray-800">One month or more</h2>
        <h3 class="text-gray-500 text-3xl font-bold">15 €<span class="text-gray-600 text-lg">/ day</span></h3>
       
        
    </div>
</ContentSection>